In [13]:
import pandas as pd
df = pd.read_csv("df.csv")
df.columns = ["سال", "ماه", "پارامتر"]

def waterYear(df):
    if df["ماه"] >= 7 and df["ماه"] <= 12:
        WY = str(int(df["سال"])) + "-" + str(int(df["سال"]) + 1)[2:4]
        WM = int(df["ماه"]) - 6
    elif df["ماه"] >= 1 and df["ماه"] <= 6:
        WY = str(int(df["سال"]) - 1) + "-" + str(int(df["سال"]))[2:4]
        WM = int(df["ماه"]) + 6
    else:
        WY = None
        WM = None
    return [WY, WM]


def resultTable(df):
    df["پارامتر"] = df["پارامتر"].round(2)    
    df["WATER_YEAR"] = df.apply(waterYear, axis=1)
    df[['سال آبی','ماه آبی']] = pd.DataFrame(df.WATER_YEAR.tolist(), index= df.index)
    df.drop('WATER_YEAR', inplace=True, axis=1)
    df["اختلاف ماه"] = df["پارامتر"] - df["پارامتر"].shift(1)
    df["اختلاف ماه"] = df["اختلاف ماه"].round(2)
    df = df.sort_values(['ماه', 'سال'])
    result = pd.DataFrame()
    for m in range(1,13):
        d = df[df["ماه"] == m]
        d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
        result = pd.concat([result, d])
    result = result.sort_values(['سال', 'ماه'])
    result["اختلاف ماه سال"] = result["اختلاف ماه سال"].round(2)
    
    return result

df = resultTable(df)

<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)
<ipython-input-13-e2db79abea4f>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["اختلاف ماه سال"] = d["پارامتر"] - d["پارامتر"].shift(1)

In [15]:
dz = df.pivot_table(values="اختلاف ماه", index="سال آبی", columns="ماه آبی").reset_index()

dz["مقدار حداقل"] = dz.iloc[:,1:].min(axis=1).round(2)
dz["مقدار میانگین سال"] = dz.iloc[:,1:].mean(axis=1).round(2)
dz["مقدار حداکثر"] = dz.iloc[:,1:].max(axis=1).round(2)
dz["مقدار مجموع سال"] = dz.iloc[:,1:].max(axis=1).round(2)
dz["مقدار تجمعی مجموع سال"] = dz["مقدار مجموع سال"].cumsum(skipna=True).round(2)


dz

ماه آبی,سال آبی,1,2,3,4,5,6,7,8,9,10,11,12,مقدار حداقل,مقدار میانگین سال,مقدار حداکثر,مقدار مجموع سال,مقدار تجمعی مجموع سال
0,1379-80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.02,-0.03,-0.03,-0.03,-0.02,-0.03,-0.03,-0.02,-0.02,-0.02
1,1380-81,-0.02,0.01,-0.02,-0.02,0.04,0.22,0.04,-0.06,-0.03,-0.06,0.02,0.00,-0.06,0.00,0.22,0.22,0.20
2,1381-82,-0.08,-0.06,0.00,-0.04,-0.08,-0.09,-0.03,-0.02,-0.01,-0.02,-0.01,-0.03,-0.09,-0.04,0.00,0.00,0.20
3,1382-83,0.02,-0.01,-0.02,0.02,0.02,-0.06,-0.02,-0.01,0.01,-0.06,-0.07,-0.01,-0.07,-0.02,0.02,0.02,0.22
4,1383-84,-0.04,-0.05,0.02,0.02,-0.02,-0.01,0.00,-0.02,-0.06,NaN,NaN,NaN,-0.06,-0.02,0.02,0.02,0.24
5,1384-85,NaN,0.03,0.02,0.02,0.01,0.01,-0.01,0.00,0.00,-0.02,-0.02,0.00,-0.02,0.00,0.03,0.03,0.27
6,1385-86,0.03,0.02,-0.04,0.00,-0.01,-0.03,0.01,0.01,0.00,-0.01,0.01,0.01,-0.04,-0.00,0.03,0.03,0.30
7,1386-87,-0.02,-0.03,0.00,-0.01,-0.01,0.00,0.01,0.00,-0.01,-0.01,0.00,-0.01,-0.03,-0.01,0.01,0.01,0.31
8,1387-88,-0.01,-0.01,-0.02,0.00,-0.02,0.00,-0.01,-0.02,-0.01,0.01,0.00,-0.02,-0.02,-0.01,0.01,0.01,0.32
9,1388-89,-0.01,-0.01,-0.01,-0.03,-0.01,0.00,-0.01,-0.02,-0.02,0.00,0.00,-0.01,-0.03,-0.01,0.00,0.00,0.32
10,1389-90,-0.01,-0.03,-0.01,-0.01,0.00,0.01,-0.02,-0.02,-0.02,-0.02,-0.03,-0.03,-0.03,-0.02,0.01,0.01,0.33
11,1390-91,-0.04,-0.03,-0.04,-0.49,0.10,0.33,0.01,-0.06,0.04,0.02,0.00,0.07,-0.49,-0.04,0.33,0.33,0.66
12,1391-92,0.02,0.02,0.01,0.00,0.00,0.01,0.03,-0.10,-0.04,0.02,0.11,-0.08,-0.10,-0.01,0.11,0.11,0.77
13,1392-93,0.03,-0.01,-0.07,-0.06,0.05,0.09,NaN,NaN,NaN,NaN,NaN,NaN,-0.07,-0.01,0.09,0.09,0.86

In [10]:
dz.iloc[:,1:].max(axis=0)

ماه آبی
1     0.03
2     0.03
3     0.02
4     0.02
5     0.10
6     0.33
7     0.04
8     0.01
9     0.04
10    0.02
11    0.11
12    0.07
dtype: float64