In [ ]:
import pandas as pd

data = pd.read_csv("/mnt/c/Users/POOYA/Desktop/data.csv")

data

In [ ]:

def convertAB(Year_AB_1, Year_AB_2, Month_AB, Day_AB, Houre, Minute, Second):
    if Month_AB <=6 and Month_AB >=1:
        Year = Year_AB_2 + 1300
        Month = Month_AB
        Day = Day_AB
    elif Month_AB <=12 and Month_AB >=7:
        Year = Year_AB_1
        Month = Month_AB
        Day = Day_AB
    else:
        Year = None
        Month = None
        Day = None
    return [int(Year), int(Month), int(Day), int(Houre), int(Minute), int(Second)]



b6 = data[['stationCode', 'Year_AB_1', 'Year_AB_2', 'Month_AB', 'Day_AB', 'BARAN_6', 'BARF_6', 'AB_BARF_6']]
b6['Houre'] = 6
b6['Minute'] = 30
b6['Second'] = 0
b6['JAM_BARAN'] = b6['BARAN_6'] + b6['AB_BARF_6']

b6[['Date']] = b6.apply(
    lambda row : convertAB(row["Year_AB_1"], row["Year_AB_2"], row["Month_AB"], row["Day_AB"], row["Houre"], row["Minute"], row["Second"]),
     axis=1
    )

b6 = b6[['stationCode', 'Date', 'BARAN_6', 'BARF_6', 'AB_BARF_6', 'JAM_BARAN']]
b6.columns = ['stationCode', 'DATE', 'BARAN', 'BARF', 'AB_BARF', 'JAM_BARAN']



b18 = data[['stationCode', 'Year_AB_1', 'Year_AB_2', 'Month_AB', 'Day_AB', 'BARAN_18', 'BARF_18', 'AB_BARF_18']]
b18['Houre'] = 18
b18['Minute'] = 30
b18['Second'] = 0
b18['JAM_BARAN'] = b18['BARAN_18'] + b18['AB_BARF_18']

b18[['Date']] = b18.apply(
    lambda row : convertAB(row["Year_AB_1"], row["Year_AB_2"], row["Month_AB"], row["Day_AB"], row["Houre"], row["Minute"], row["Second"]),
     axis=1
    )

b18 = b18[['stationCode', 'Date', 'BARAN_18', 'BARF_18', 'AB_BARF_18', 'JAM_BARAN']]
b18.columns = ['stationCode', 'DATE', 'BARAN', 'BARF', 'AB_BARF', 'JAM_BARAN']




data = pd.concat([b6, b18])
data[['YEAR', 'MONTH', 'DAY', 'HOURE', 'MINUTE', 'SECOND']] = pd.DataFrame(data.DATE.tolist(), index= data.index)
data['DATE'] = data['YEAR'].astype(str) + "-" + data['MONTH'].astype(str).str.zfill(2) + "-" + data['DAY'].astype(str).str.zfill(2) + " " + data['HOURE'].astype(str).str.zfill(2) + ":" + data['MINUTE'].astype(str).str.zfill(2) + ":" + data['SECOND'].astype(str).str.zfill(2) 





data = data[['stationCode', 'DATE', 'YEAR', 'MONTH', 'DAY', 'HOURE', 'MINUTE', 'SECOND', 'BARAN', 'BARF', 'AB_BARF', 'JAM_BARAN']]


data.sort_values(by=['stationCode', 'YEAR', 'MONTH', 'DAY', 'HOURE', 'MINUTE', 'SECOND'], inplace=True)

In [ ]:
data

In [ ]:
data.to_csv("data.csv", index=False)

In [22]:
import pandas as pd
import sqlite3
db_path_precipitation = 'App/dashApp/precipitation/precipitation.sqlite'
db_precipitation = sqlite3.connect(db_path_precipitation, check_same_thread=False)





date = "1398/3/1"
time = "18:30:00"
data = [
    {'stationName': 'فریمان', 'baran': 0, 'barf': 0, 'ab_barf': 0}, 
    {'stationName': 'امور آب سبزوار', 'baran': 0, 'barf': 0, 'ab_barf': 0}, 
    {'stationName': 'چناران', 'baran': 0, 'barf': 0, 'ab_barf': 0},
]

In [34]:
        exist_precipitation_data = pd.read_sql_query(sql="SELECT * FROM precipitation", con=db_precipitation)
        exist_precipitation_data_columns = list(exist_precipitation_data.columns)
        exist_precipitation_data['DATE'] = exist_precipitation_data['YEAR'].astype(str) + "-" + exist_precipitation_data['MONTH'].astype(str).str.zfill(2) + "-" + exist_precipitation_data['DAY'].astype(str).str.zfill(2) + " " + exist_precipitation_data['HOURE'].astype(str).str.zfill(2) + ":" + exist_precipitation_data['MINUTE'].astype(str).str.zfill(2) + ":" + exist_precipitation_data['SECOND'].astype(str).str.zfill(2)
        exist_precipitation_data["uniqueCode"] = exist_precipitation_data["stationCode"].astype(str) + "-" + exist_precipitation_data["DATE"]

In [24]:
exist_station = pd.read_sql_query(sql="SELECT * FROM station", con=db_precipitation)

In [25]:
exist_station

,stationName,stationCode,stationOldCode,drainageArea6,drainageArea30,areaStudyName,omor,county,startYear,longDecimalDegrees,latDecimalDegrees,elevation
0,امور آب سبزوار,110147060,47-060,فلات مرکزی,کویر مرکزی,سبزوار,سبزوار,سبزوار,1360,57.685000,36.216389,977.0
1,فریمان,110162090,62-090,قره قوم,قره قوم,فریمان ـتربت جام,تربت جام,فریمان,1367,59.846111,35.695000,1415.0
2,چناران,110164056,64-056,قره قوم,قره قوم,مشهد,مشهد,چناران,1364,59.126389,36.647778,1170.0

In [26]:
df = pd.DataFrame(columns=exist_precipitation_data_columns[1:] + ["stationName"])

date = date.split("/")
time = time.split(":")

for i in range(len(data)):
    df.loc[i,"stationCode"] = exist_station[exist_station['stationName'] == data[i]["stationName"]].iloc[0,1]
    df.loc[i,"YEAR"] = date[0]
    df.loc[i,"MONTH"] = date[1].zfill(2)
    df.loc[i,"DAY"] = date[2].zfill(2)
    df.loc[i,"HOURE"] = time[0].zfill(2)
    df.loc[i,"MINUTE"] = time[1].zfill(2)
    df.loc[i,"SECOND"] = time[2].zfill(2)
    df.loc[i,"BARAN"] = data[i]["baran"]
    df.loc[i,"BARF"] = data[i]["barf"]
    df.loc[i,"AB_BARF"] = data[i]["ab_barf"]
    df.loc[i,"JAM_BARAN"] = data[i]["baran"] + data[i]["ab_barf"]
    df.loc[i,"stationName"] = data[i]["stationName"]

df['DATE'] = df['YEAR'].astype(str) + "-" + df['MONTH'].astype(str) + "-" + df['DAY'].astype(str) + " " + df['HOURE'].astype(str) + ":" + df['MINUTE'].astype(str) + ":" + df['SECOND'].astype(str)

df["uniqueCode"] = df["stationCode"].astype(str) + "-" + df["DATE"]

In [27]:
df

,stationCode,YEAR,MONTH,DAY,HOURE,MINUTE,SECOND,BARAN,BARF,AB_BARF,JAM_BARAN,stationName,DATE,uniqueCode
0,110162090,1398,03,01,18,30,00,0,0,0,0,فریمان,1398-03-01 18:30:00,110162090-1398-03-01 18:30:00
1,110147060,1398,03,01,18,30,00,0,0,0,0,امور آب سبزوار,1398-03-01 18:30:00,110147060-1398-03-01 18:30:00
2,110164056,1398,03,01,18,30,00,0,0,0,0,چناران,1398-03-01 18:30:00,110164056-1398-03-01 18:30:00

In [28]:
df.loc[df.duplicated(subset=["stationName"]),:]["stationName"].unique().tolist()

[]

In [29]:
df["uniqueCode"].isin(exist_precipitation_data["uniqueCode"]).any()

True

In [30]:
df.loc[df["uniqueCode"].isin(exist_precipitation_data["uniqueCode"]), :]

,stationCode,YEAR,MONTH,DAY,HOURE,MINUTE,SECOND,BARAN,BARF,AB_BARF,JAM_BARAN,stationName,DATE,uniqueCode
0,110162090,1398,03,01,18,30,00,0,0,0,0,فریمان,1398-03-01 18:30:00,110162090-1398-03-01 18:30:00
1,110147060,1398,03,01,18,30,00,0,0,0,0,امور آب سبزوار,1398-03-01 18:30:00,110147060-1398-03-01 18:30:00
2,110164056,1398,03,01,18,30,00,0,0,0,0,چناران,1398-03-01 18:30:00,110164056-1398-03-01 18:30:00

In [ ]:
from collections import Counter
a = list((Counter(df["uniqueCode"]) - Counter(exist_precipitation_data["uniqueCode"])).elements())
a

In [ ]:
list(set(list(df["uniqueCode"])) - set(a))

In [ ]:
a

In [ ]:
list(df["uniqueCode"])

In [31]:
df

,stationCode,YEAR,MONTH,DAY,HOURE,MINUTE,SECOND,BARAN,BARF,AB_BARF,JAM_BARAN,stationName,DATE,uniqueCode
0,110162090,1398,03,01,18,30,00,0,0,0,0,فریمان,1398-03-01 18:30:00,110162090-1398-03-01 18:30:00
1,110147060,1398,03,01,18,30,00,0,0,0,0,امور آب سبزوار,1398-03-01 18:30:00,110147060-1398-03-01 18:30:00
2,110164056,1398,03,01,18,30,00,0,0,0,0,چناران,1398-03-01 18:30:00,110164056-1398-03-01 18:30:00

In [32]:
df.drop(['uniqueCode', 'DATE', 'stationName'], axis=1)

  stationCode  YEAR MONTH DAY HOURE MINUTE SECOND BARAN BARF AB_BARF JAM_BARAN
0   110162090  1398    03  01    18     30     00     0    0       0         0
1   110147060  1398    03  01    18     30     00     0    0       0         0
2   110164056  1398    03  01    18     30     00     0    0       0         0

In [35]:
exist_precipitation_data

,id,stationCode,YEAR,MONTH,DAY,HOURE,MINUTE,SECOND,BARAN,BARF,AB_BARF,JAM_BARAN,DATE,uniqueCode
0,1,110147060,1360,9,10,6,30,0,0.0,0.0,0.0,0.0,1360-09-10 06:30:00,110147060-1360-09-10 06:30:00
1,2,110147060,1360,9,10,18,30,0,99.9,0.0,0.0,99.9,1360-09-10 18:30:00,110147060-1360-09-10 18:30:00
2,3,110147060,1360,10,10,6,30,0,0.0,0.0,0.0,0.0,1360-10-10 06:30:00,110147060-1360-10-10 06:30:00
3,4,110147060,1360,10,10,18,30,0,0.9,0.0,0.0,0.9,1360-10-10 18:30:00,110147060-1360-10-10 18:30:00
4,5,110147060,1360,11,17,6,30,0,0.0,0.0,0.0,0.0,1360-11-17 06:30:00,110147060-1360-11-17 06:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891,6892,b'\xaa\xf0\x90\x06\x00\x00\x00\x00',1400,3,1,6,30,0,5.0,0.0,0.0,5.0,1400-03-01 06:30:00,b'\xaa\xf0\x90\x06\x00\x00\x00\x00'-1400-03-01...
6892,6893,b'X\xf8\x90\x06\x00\x00\x00\x00',1400,3,1,6,30,0,4.0,0.0,0.0,4.0,1400-03-01 06:30:00,b'X\xf8\x90\x06\x00\x00\x00\x00'-1400-03-01 06...
6893,6894,b'\xf4\xb5\x90\x06\x00\x00\x00\x00',1400,3,1,18,30,0,0.0,0.0,0.0,0.0,1400-03-01 18:30:00,b'\xf4\xb5\x90\x06\x00\x00\x00\x00'-1400-03-01...
6894,6895,b'\xaa\xf0\x90\x06\x00\x00\x00\x00',1400,3,1,18,30,0,0.0,0.0,0.0,0.0,1400-03-01 18:30:00,b'\xaa\xf0\x90\x06\x00\x00\x00\x00'-1400-03-01...
6895,6896,b'X\xf8\x90\x06\x00\x00\x00\x00',1400,3,1,18,30,0,20.0,0.0,0.0,20.0,1400-03-01 18:30:00,b'X\xf8\x90\x06\x00\x00\x00\x00'-1400-03-01 18...